

.grid-ontainer {
    display: grid;
    height: 100%;
    width: 100%;

}
.article {
    display: flex;
}

.canvas {
    display: block;
    margin: 0 auto;
    background-color: antiquewhite;
}

.canvas-container {
    background-color: skyblue;
    margin: 0 auto;
    width: 80%;
    height: 70%;

}
